.contact {
  position: relative;

  &__form {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    pointer-events: none;

    @media (min-width: 640px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    & > div {
      background-color: rgba(75, 202, 255, 0.8);
      border-radius: 0.375rem;
      width: 100%;
      box-shadow: $panel;
      pointer-events: auto;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;

      @media (min-width: 640px) {
        width: 330px;
      }

    }

    &__form-label {
      color: white;
      font-weight: 600;
      font-size: 36px;
    }

    &__form-input {
      appearance: none;
      border-radius: 0.375rem;
      width: 100%;
      border: 1px solid transparent;
      outline: none;
      font-size: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      transition-property: border-color;
      transition-duration: 150ms;
      text-align: center;
    }

    &__form-input:hover {
      border-color: $gray;
    }

    &__textarea {
      font-size: 16px;
      text-align: center;
      max-height: 200px;
      min-height: 100px;
      border-radius: 0.375rem;
      width: 100%;
      max-width: $full;
      min-width: $full;
      outline: none;
      border: 1px solid transparent;
      transition-property: border-color;
      transition-duration: 150ms;
      padding: 0.5rem;
    }

    &__textarea:hover {
      border-color: $gray;
    }

    &__form-button {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      margin: 0;
      font: inherit;
      outline: none;

      cursor: pointer;
      color: $primary;
      background-color: $darkGray;
      box-shadow: $blackButton;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-radius: 0.375rem;
      transition-duration: 150ms;
      font-weight: 500;
    }
    &__form-button:hover {
      opacity: 90%;
    }
  }

  &__iframe {
    height: 300px;
    border: 0 !important;

    @media (min-width: 640px) {
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}